<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple kanji lookup which provides meaning, on'yomi/kun'yomi readings, and proper stroke order">
    <title>Error</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="content">
    <div class="center">
        <a th:href="@{~/}">
            <img class="logo" th:src="@{'/images/logo.svg'}" th:attr="alt=Logo">
        </a>
    </div>
    <div class="intro">
        <p style="text-align: center; font-size: 22px;">There was an error with your request. Click the logo to return to the homepage.</p>
    </div>
</div>
</body>
</html>