<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="row">
    <form class="searchmain">
        <div class="inner">
            <input class="button" type="submit" value="Search"/>
            <div class="textin">
                <input class="search" type="text"  autoCapitalize="off" autoComplete="off" autoCorrect="off" spellCheck="false" placeholder="Enter Kanji Character"  />
            </div>
        </div>
    </form>
    <div  id="intro">
        <p class="center">Welcome!</p>
        <p>How to use: </p>
        <ul>
            <li>Simply enter a kanji character into search bar and press enter or click search</li>
            <li>Use curl to fetch the data:</li>
            <ul>
                <li>user: curl (url)/kanji/{'{kanji here}'}</li>
            </ul>
            <li>For more help using curl to get the data</li>
            <ul>
                <li>user: curl (url)/help</li>
            </ul>
        </ul>
    </div>
</div>
</body>
</html>