<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Data Sources</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body style="padding-top: 15px;">
  <div class="row">
    <h2 class="center">Data Sources</h2>
    <h3><a href="https://www.edrdg.org/wiki/index.php/KANJIDIC_Project">Kanjidic2</a></h3>
    <p>Kanjidic2 is the primary source of the data used. </p>
    <h3><a href="https://www.edrdg.org/krad/kradinf.html">RADKFILE</a></h3>
    <p>RADKFILE is the source of the radical breakdown of the kanji.</p>
    <h3><a href="http://kanjivg.tagaini.net/">KanjiVG</a> & <a href="https://github.com/cayennes/kanji-colorize">Kanji Colorize</a></h3>
    <p>KanjiVG is the source of the svg of the Kanji, and Kanji Colorize is the source for the color on the svg.</p>
  </div>
</body>
</html>