<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<div class="row">
    <form class="searchmain">
        <div class="inner">
            <input class="button" type="submit" value="Search"/>
            <div class="textin">
                <input class="search" type="text"  autoCapitalize="off" autoComplete="off" autoCorrect="off" spellCheck="false" placeholder="Enter Kanji Character"  />
            </div>
        </div>
    </form>
    <div>

        <img th:src="@{'/images/'+${kanji}}" >

    </div>
</div>
</body>
</html>